            <div class="col-lg-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <a class="btn btn-block btn-primary compose-mail" href="{:U('User/addArticle')}">写一篇文章</a>
                            <div class="space-25"></div>
                            <h5>我的信息</h5>
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li><a href="{:U('User/userInfo')}"> <i class="fa fa-inbox "></i> 基本信息 <span class="label label-navy pull-right">账号信息</span></a></li>
                                <li><a href="{:U('User/detail')}"> <i class="fa fa-envelope-o"></i>主页信息<span class="label label-danger pull-right">个人主页</span></a></li>
                                <li><a href="{:U('User/liuyan')}"> <i class="fa fa-certificate"></i> 我的留言<span class="label label-primary pull-right">查看留言</span></a></li>
                                <li><a href="javascript:void(0)" onclick="alert('暂未对外开放')"> <i class="fa fa-file-text-o"></i> 我的私信<span class="label label-info pull-right">TA的小纸条</span>
                                <li><a href="{:U('User/gonggao')}"> <i class="fa fa-trash-o"></i>我的通知<span class="label label-warning pull-right">管理员的公告</span></a></li>
                            </ul>
                            <h5>我的文章</h5>
                            <ul class="category-list" style="padding: 0">
                                <li><a href="{:U('User/myArticle')}"> <i class="fa fa-circle text-navy"></i>我发布的</a></li>
                            </ul>

                            <h5 class="tag-title">创业板块</h5>
                            <ul class="tag-list" style="padding: 0">
                                <li><a href="default.htm"><i class="fa fa-tag"></i> 暂未开放</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
