<include file = "Public:userheader" title = "基本信息-{$SiteInfo.title}" />
<link href="__PUBLIC__/Default/css/style.css" rel="stylesheet">
<!-- 调用头部文件 -->
<link href=" __PUBLIC__/Default/shearphoto_common/css/ShearPhoto.css" rel="stylesheet" type="text/css" media="all"><!--CSS文件，有点废话-->

<!-- 正文开始 -->
<li class="selected" id = "liselected5">


    <div class="cd-full-width">
        <div class="container-fluid js-tm-page-content tm-page-1" data-page-no="1">

            <div class="row">

                <div class="col-xs-12">
                    <div class="tm-bg-white-translucent text-xs-left tm-textbox diannao">

                        <div class="mail-box" style="padding:10px;">
                            <div class="form-group">
                                <label>邮箱：</label>
                                <input  class="form-control required" type="text" disabled="" value = "{$userInfo.email}">
                            </div>
                            <div class="form-group">
                                <label>注册时间</label>
                                <input  class="form-control required" type="text" disabled="" value = "{$userInfo.ctime|date='Y-m-d H:i:s',###}">
                            </div>
                            <div class="form-group">
                                <label>上次登录时间</label>
                                <input  class="form-control required" type="text" disabled="" value = "{$Think.session.mlasttime|date='Y-m-d H:i:s',###}">
                            </div>
                            <div class="form-group">
                                <label>上次登录IP</label>
                                <input  class="form-control required" type="text" disabled="" value = "{$Think.session.mlastip}">
                            </div>
                            <div class="form-group">
                                <label>账户状态</label>
                                <input  class="form-control required" type="text" disabled="" <if condition = "$userInfo.status eq 0">value = "启用"<else />value = "禁用"</if>>
                            </div>
                            <div class="form-group">
                                <label>我的昵称</label>
                                <input  class="form-control required" type="text" disabled="" value = "{$userInfo.truename}">
                            </div>
                            <center><h1>修改头像</h1></center>

                                <hr>
                                <center><h1>修改密码</h1></center>
                                <form action="{:U('User/changePass')}" method="post">
                                    <div class="form-group">
                                        <label>输入密码</label>
                                        <input  class="form-control required" type="password" name = "passone">
                                    </div>
                                    <div class="form-group">
                                        <label>重复密码</label>
                                        <input  class="form-control required" type="password" name = "passtwo">
                                    </div>
                                    <button type="submit" class="btn btn-primary">确认修改</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- .cd-full-width -->

        </li>
        <!-- 正文结束 -->

        <!-- 调用脚部文件 -->
        <include file = "Public:userfooter"  />
<script  type="text/javascript" src=" __PUBLIC__/Default/shearphoto_common/js/ShearPhoto.js" ></script><!--ShearPhoto的核心文件 截取，拖拽，HTML5切图，数据交互等都是由这个文件处理，全部由明哥先生汗水交织而成-->
<script  type="text/javascript"  src=" __PUBLIC__/Default/shearphoto_common/js/webcam_ShearPhoto.js" ></script> <!--在线拍照那个FLASH的接口，非技术性文件-->
<script  type="text/javascript"  src=" __PUBLIC__/Default/shearphoto_common/js/alloyimage.js" ></script>   <!--图片特效处理,他只负责特效，其他功能与这个文件完全无关，这个JS从腾讯AI文件  如你不要特效的话，顺带删除这个文件，在hendle.js设置关闭特效-->
<script  type="text/javascript"  src=" __PUBLIC__/Default/shearphoto_common/js/handle.js" ></script>
